@font-face{
	font-family: helveticaio;
	src:url(../fonts/helvetica-io7-webfont.otf);
	src:url(../fonts/helvetica-io7-webfont.ttf);
	src:url(../fonts/helvetica-io7-webfont.eot);
	src:url(../fonts/helvetica-io7-webfont.woff);
}
/* estilos para el header*/
.hea
{
	background: #1b3647 !important;
}
header, .ui-mobile .ui-footer {
	background: #1b3647 !important;
}	
#boton
{
	width: 3%;
	padding: 7px;
	border: 0px solid;
}
.back
{
	float: right;
}
/*estilos panel-menu*/
#myPanel
{
  background: #1b3647;
}
#myPanel ul 
{
	margin-top: 50px;
	border: 0px solid;
	padding: 0px;
	list-style: none;
}
#myPanel ul li
{
	
	font-family: helveticaio;
	margin-top:2px;
	border-bottom: 1px solid #c1c1c1;
	
}
#myPanel ul li:hover
{
	background: #166ba2;
	
}
#myPanel ul li a
{
	padding: 10px;
	border: 0px solid;
	text-decoration: none;
	display: block;
	color: #fff;
	background: url(../images/ir.png) no-repeat 100% 14px;
}
#myPanel ul li a:hover
{
	color: #fff;
}	

/* estilos para el contedor*/
#contbus
{
	width: 50%;
	display: inline-block;
	vertical-align: top;
}
#into
{
	height: 35px;
}

/* =========== estilo para los resultados de la busqueda */
#contResult
{
	width: 48%;
	min-height: 300px;
	border: 1px solid #c1c1c1;
	display: inline-block;
	vertical-align: top;
}



.entrada {
	border-bottom: 1px solid #c1c1c1;
	padding: 0px 10px 5px 10px;
}
.titulo{
	line-height: 32px;
}
.titulo a{
	font-size: 16px;
	font-family: arial;
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

.telefono{
	font-size: 14px;
	font-family: arial;
	color: #000;
}

.celular{
	font-size: 14px;
	font-family: arial;
	color: #000;
}

/*=============================================================*/

/* ============ estilos para los mensajes del servidor =========*/

.messegeRed{
	height: 32px;
line-height: 32px;
color: #fff;
font-size: 14px;
text-align: center;
background: #f00;
font-family: arial;
font-weight: normal;
}
/*=============================================================*/
/*estilos content, iniciar.html*/
.sesion
{
	width: 80%;
	margin: auto;
	height: 450px;
	border: 1px solid #166ba2;
	background: #e9eaed;
	padding-top: 50px;
	font-family: helveticaio;

}
.sesion h1
{
	color: #e9931a;
	width: 100%;
	margin: auto;
	margin-bottom: 70px;
	border: 0px solid;
}
.sesion span
{	
	color: #e9931a;
	width: 100%;
	border: 0px solid;
	display: block;
	margin:auto;
	margin-top: 20px;
	font-weight: bold;
}
.insesion
{
	width: 50%;
	margin: auto;
	height: 500px;
	border: 0px solid;
   
}
/*estilos feedback.html*/
textarea.ui-input-text
{
	width: 100%;
	max-width: 100%;
	height: 200px;
	max-height: 200px;
	
}

/*estilos content, policondi.html*/
#contpoli
{
	width: 70%;
	padding: 20px;
	margin: auto;
	border: 1px solid #166ba2;
	background: #e9eaed;
}
#contpoli h1 
{
	font-family:  helveticaio;
	color: #e9931a
}
#estado{
	font-size: 14px;
	width: 100%;
	height: 20px;
	color: #000;
	text-align: left;
	padding: 0px 0px 0px 5px;
}

#loading{
	font-size: 14px;
	width: 100%;
	height: 20px;
	color: #000;
	text-align: center;
}
#loading img{
	display: none;
}

.grid1{
	width: 100%;
	min-height: 20px;
	vertical-align: top;
	margin: 0px auto;
	font-size: 0px;
}
.grid2{
	width: 49.5%;
	min-height: 20px;
	display: inline-block;
	vertical-align: top;
	margin: 0px auto;
	font-size: 0px;
}
.grid3{
	width: 32.7%;
	min-height: 30px;
	border: 1px solid #f00;
	display: inline-block;
	vertical-align: top;
	font-size: 0px;
}
.grid4{
	width: 24.4%;
	min-height: 30px;
	border: 1px solid #f00;
	display: inline-block;
	vertical-align: top;
	font-size: 0px;
}

/*media queris*/

@media screen and (max-width: 800px){
      #contResult{
      	width: 100%;
      }
      #contbus{
      	width: 100%;
      }
      #sesion
		{
			width: 70%;
		}

    }
@media screen and (max-width: 700px){    
		.insesion
		{
			width: 90%;
		   
		}
}
@media screen and (max-width: 450px){ 
	.sesion
		{
			width: 98%;
			height: 250px;
			padding-top: 20px;
			
		}
		.sesion h1
		{
			margin-bottom: 10px;
		}

		textarea.ui-input-text
		{
			height: 70px;
		}
		#contpoli
		{
			padding: 5px;
			width: 98%;
		}
}	
@media screen and (max-width: 400px){    
	
		.sesion h1
		{
			font-size: 25px;
		}
}

@media screen and (max-width: 320px){    
		#estado{
			font-size: 12px;
		}
		#loading img
		{
			width: 130px;
		}
}
	


