/* estilos para el header*/
#boton
{
	width: 3%;
	padding: 5px;
	border: 0px solid;
}
/*estilos panel-menu*/
#mypanel ul 
{
	border: 1px solid;
	padding: 0px;
	list-style: none;
}
#mypanel ul li
{
	border: 1px solid #c1c1c1;
}

/* estilos para el contedor*/
#contbus
{
	width: 50%;
	display: inline-block;
	vertical-align: top;
}
#into
{
	height: 35px;
}
#resultado
{
	width: 48%;
	min-height: 300px;
	border: 1px solid #c1c1c1;
	display: inline-block;
}


/*media queris*/

@media screen and (max-width: 800px){
      .resultado{
      	width: 100%;
      }
      #contbus{
      	width: 100%;
      }
    }